/* Larger Screen Styles */
@media screen and (min-width: 768px) {
    .header-content {
        justify-content: space-around;
    }
    
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }
    
    .hero {
        grid-column: 1 / -1;
    }
    
    .events {
        grid-column: 1;
    }
    
    .weather {
        grid-column: 2;
        grid-row: 2;
    }
    
    .spotlights {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    
    .spotlight-card {
        margin-bottom: 0;
    }
    
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
}